h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  #rosa {
      display: none;
      width: 50px;
      height: 30px;
      color: #000;
      background: rgb(243, 164, 164);
  }

  input[type=text],
        select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
    
        input[type=button] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
    
        input[type=button]:hover {
          background-color: #45a049;
        }
    
        .form {
          width: 30%;
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
       
article {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    

.small {
    margin-top: 5%;
    color: #45a049;
    font-size: 2em;
    border: 20px solid gray;
    border-radius: 25px;
}

.middle {
    margin-top: 5%;
    color: #45a049;
    font-size: 3em;
    border: 25px solid gray;
    border-radius: 30px;
}

.big {
    margin-top: 5%;
    color: #45a049;
    font-size: 5em;
    border: 35px solid gray;
    border-radius: 35px;
}

    